html {
    background: url(plants.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table, table * {
    border: 1px solid black
}

#error {
    font-weight: bold;
    color: #ff0000;
}

#title {
    font-size: 19px;
    text-align: center;
}
    #tab {
    border: 1px solid black;
}